.btn {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  background-color: #FFF;
  color: #293944;
  flex: 1;
  outline: 1px solid #293944;
}

.btn:active:hover {
  background-color: #EEE;
}