.display {
  height: 3em;
  background-color: #3F5666;
  color: #FFF;
  padding: 10px;
}

.input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 700;
  font-size: 1.4em;
  width: 100%;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 1.2em;
  width: 100%;
}